.cardLink {
    margin: auto;
    --tw-shadow: 0 2rem 2.5rem -.5rem rgba(0, 0, 0, 0.1),
        0 1rem 1rem -.5rem rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000,
        0 0 transparent;

    border-color: var(--text-white-100);
    border-radius: 1.2rem
        /* 12px */
    ;
    text-decoration: none;
}



.container {
    border-radius: 1.2rem
        /* 12px */
    ;
    padding-top: .4rem
        /* 4px */
    ;
    padding-bottom: .4rem
        /* 4px */
    ;
    padding-bottom: 2rem
        /* 20px */
    ;
    padding-left: 1.6rem
        /* 16px */
    ;
    padding-right: 1.6rem
        /* 16px */
    ;

    backdrop-filter: blur(1rem);
}

.cardHeaderWrapper {
    margin-top: 1.2rem
        /* 12px */
    ;
    margin-bottom: 1.2rem
        /* 12px */
    ;
}

.cardHeader {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 2rem
        /* 20px */
    ;
    line-height: 2.8rem
        /* 28px */
    ;
    font-weight: 800;
    overflow: hidden;
    width: 25.6rem
        /* 256px */
    ;
}

.cardImageWrapper {
    color: var(--text-white-100);
}

.cardImage {
    border-radius: 1.2rem
        /* 12px */
    ;
}

@media (min-width: 1024px) {
    .cardHeader {
        width: 25.6rem
            /* 256px */
        ;
    }
}

@media (min-width: 768px) {
    .cardHeader {
        width: 25.6rem
            /* 256px */
        ;
    }
}